.homepage,
.container {
  min-height: 100vh;
  background: rgb(65, 169, 203);
  font-size: 14px;
}

.homepage-header {
  padding: 80px 10px 1px 10px;
  width: 100%;
  background-image: url(../../images/showcase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.homepage-heading {
  font-size: 1.2em;
  color: white;
}

.grid-2 {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

.Container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.meow-list,
.profile-card {
  padding-top: 15px;
}

@media screen and (min-width: 320px) {
  .homepage-heading {
    font-size: 1.35em;
  }
}
